<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head :: head">>
</head>
<body>
<section class="mainSection">
    <div class="mainContainer">
        <div class="d-flex justify-content-center">
            <div id="mainRegisterDiv"
                 class="h-100 col-3 d-flex align-items-center justify-content-center position-absolute ">
                <div class="column w-100">
                    <h1 class="mb-3">Login</h1>

                    <form class="w-100" method="post" th:action="@{/login}">
                        <div class="input-group registerInputField mb-2">
                            <input type="email" class="form-control" placeholder="Email" aria-label="email"
                                   aria-describedby="email-field" name="email" required> <!-- email -->
                        </div>
                        <div class="input-group registerInputField mb-2">
                            <input type="password" class="form-control" placeholder="Lozinka" aria-label="Lozinka"
                                   aria-describedby="lozinka-field" name="password" required>
                        </div>

                        <input  type="submit" name="submit"
                                class="btn form-control bg-primary text-light fw-medium fs-5 align-items-center justify-content-center"
                                id="mainSignInBtn" value="Sign in">
                        <h4 th:text="${ErrorMessage}" id="messageFailed"></h4>
                    </form>
                    <div class="w-100 d-flex align-items-center justify-content-center ">
                        <div class="alert fw-bold" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                    </div>
                    <div class="w-100 d-flex align-items-center justify-content-center ">
                        <p class="w-50 ">Ako već nemate kreiran korisnički račun, možete ga kreirati <a href="register">ovdje</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer :: Footer}"></div>
</body>
</html>