<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head :: head">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<section class="mainSection">
    <div class="mainContainer">
        <form class="btn" action="/profile" method="get">
            <button class="btn btn-outline-primary">Back</button>
        </form>

        <table id="usersPurchaseHistoryTable" class="table">
            <thead>
            <tr>
                <th scope="col">Artist name</th>
                <th scope="col">Album name</th>
                <th scope="col">Album image</th>
                <th scope="col">Genre</th>
                <th scope="col">Media</th>
                <th scope="col">Total price</th>
                <th scope="col">Amount</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${shoppingCartItemsList.empty}">
                <td colspan="7"> No Items in cart.</td>
            </tr>
            <tr th:each="cartItem : ${shoppingCartItemsList}">
                <!--        <td><span th:text="${cartItem}"> Artist name </span></td>-->
                <td><span th:text="${cartItem.itemByItemid.album.artist.artistname}"> Artist name </span></td>
                <td><span th:text="${cartItem.itemByItemid.album.albumname}"> Album name </span></td>
                <td><img id="albumImageTable"
                         th:src="'data:image/png;base64,' + ${cartItem.itemByItemid.album.getImageInBase64()}"
                         alt="Album image"></td>
                <td><span th:text="${cartItem.itemByItemid.album.genretype}"> Genre </span></td>
                <td><span th:text="${cartItem.itemByItemid.mediatype}"> Media </span></td>
                <td><span th:text="${cartItem.totalprice}"> Total price </span></td>
                <td><span th:text="${cartItem.itemamount}"> Amount </span></td>
            </tbody>
        </table>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>