<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head :: head">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<section class="mainSection">
    <div class="mainContainer">
        <h1>Your cart</h1>
        <div class="line"></div>

        <table id="shoppingCartItemsTable" class="table">
            <thead>
            <tr>
                <th scope="col">Artist name</th>
                <th scope="col">Album name</th>
                <th scope="col">Album image</th>
                <th scope="col">Genre</th>
                <th scope="col">Media</th>
                <th scope="col">Total price</th>
                <th scope="col">Amount</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${cartList.empty}">
                <td colspan="7"> No Items in cart.</td>
            </tr>
            <tr th:each="cartItem, iterStat : ${cartList}">
                <!--        <td><span th:text="${cartItem}"> Artist name </span></td>-->
                <td><span th:text="${cartItem.item.album.artist.artistname}"> Artist name </span></td>
                <td><span th:text="${cartItem.item.album.albumname}"> Album name </span></td>
                <td><img id="albumImageTable"
                         th:src="'data:image/png;base64,' + ${cartItem.item.album.getImageInBase64()}"
                         alt="Album image"></td>
                <td><span th:text="${cartItem.item.album.genretype}"> Genre </span></td>
                <td><span th:text="${cartItem.item.mediatype}"> Media </span></td>
                <td><span th:text="${cartItem.totalPrice}"> Total price </span></td>
                <td><span th:text="${cartItem.itemAmount}"> Amount </span></td>
                <td>
                    <!--                    <form id="btnRemoveFromCart" th:action="@{'/removeFromCart/'+ ${iterStat.index}}" method="post">-->
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#numberModal" th:value="${iterStat.index} + '|' + ${cartItem.itemAmount}"
                            onclick="fillModalWithData()">Remove
                    </button>
                    <!--                    </form>-->
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input id="hiddenCartTotalPrice" type="hidden" th:value="${cartTotalPrice}">
            <h2 id="toalCartPrice" th:text="'Total price ' + ${cartTotalPrice} + '€'"></h2>
        </div>
        <div class="row" th:if="${!cartList.empty}">
            <div class="col-10" th:if="${authRole != ''}">
                <form class="btn" th:action="@{/buyItems}">
                    <button class="btn btn-primary">Purchase with cash on delivery</button>
                </form>
                <form class="btn" th:action="@{/buyItems}">
                    <div id="paypal-button-container"></div>
<!--                    <button class="btn btn-primary">Purchase with cash on delivery</button>-->
                </form>
            </div>
            <form class="btn col-2 " th:action="@{/clearShoppingCart}">
                <button class="btn btn-outline-danger float-right">Clear cart</button>
            </form>
        </div>
        </script>
    </div>
</section>

<div class="modal fade" id="numberModal" tabindex="-1" aria-labelledby="numberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="numberModalLabel">How many items to remove?</h5>
            </div>
            <div class="modal-body">
                <input id="amountInput" type="number" class="form-control" min="0" placeholder="0" required>
                <input id="itemIndexHidden" type="hidden">
                <!--                <input id="itemMaxAmountHidden" type="hidden">-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" onclick="removeSelectedItem()">Remove all</button>
                <button type="button" class="btn btn-outline-primary" onclick="removeSelectedAmount()">Remove amount
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AXG9gRExF7Ql5tRbiGk7_9zZHEnlqtao_TlenETZAqNukFf4Qu2qPwUmmSSHnlv_6PR27VK_YAGrLAaq"></script>
<script th:src="@{/script/shoppingCart.js}"></script>
</body>
</html>