<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<section class="mainSection">
    <div class="mainContainer">
        <h1>User login history</h1>
        <table id="usersLoginHistoryTable" class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">IP Addres</th>
                <th scope="col">Time of login</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${loggedUsersList.empty}">
                <td colspan="7"> No Items in cart.</td>
            </tr>
            <tr th:each="loggedUserRecord : ${loggedUsersList}">
                <!--        <td><span th:text="${cartItem}"> Artist name </span></td>-->
                <td><span th:text="${loggedUserRecord.person.email}"> Email </span></td>
                <td>
                    <span th:text="${loggedUserRecord.person.firstname } + ' ' + ${loggedUserRecord.person.lastname }"> Name </span>
                </td>
                <td><span th:text="${loggedUserRecord.ipadress}"> IP Addres </span></td>
                <td><span th:text="${loggedUserRecord.timeoflogin}"> Time of login </span></td>
            </tr>
            </tbody>
        </table>
        <!--        TODO add labels and fix functionality -->
        <h1>User purchase history</h1>
        <form th:action="@{/filterPurchaseHistory}" method="get" id="filterPurchaseHistory">

            <label class="labels">From</label>
            <input type="date" class="form-control" id="fromDate" name="fromDate">

            <label class="labels">To</label>
            <input type="date" class="form-control" id="toDate" name="toDate">
            <button class="btn btn-primary">Filter date</button>
        </form>
        <table id="usersPurchaseHistoryTable" class="table">
            <thead>
            <tr>
                <th scope="col">Customer e-mail</th>
                <th scope="col">Time of Pruchase</th>
                <th scope="col">Payment method</th>
                <th scope="col">Amount of purchased items</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${purchaseHistoryList.empty}">
                <td colspan="7"> No Items in cart.</td>
            </tr>

            <tr th:each="purchaseRecord : ${purchaseHistoryList}"
                class="purchaseView" th:data-href="'/purchaseView/'+${purchaseRecord.idpurchase}">
                <!--                <a th:href="'/purchaseView/'+${purchaseRecord.idpurchase}">-->

                <!--                <input type="hidden" th:value="${purchaseRecord.idpurchase}">-->
                <td><span th:text="${purchaseRecord.personByPersonid.email}"> email </span></td>
                <td><span th:text="${purchaseRecord.timeofpurchase}"> timeofpurchase </span></td>
                <td><span th:text="${purchaseRecord.paymentmethod}"> paymentmethod </span></td>
                <td>
                    <span th:text="${purchaseRecord.shoppingcartByShoppingcartid.shoppingcartitemsByIdcart.size}">
                    Name
                </span>
                </td>
                <td>
                    <form id="btnOpenPurchaseViewPage"
                          th:action="@{'/purchaseView/'+${purchaseRecord.idpurchase}}" method="get">
                        <!--                        <input type="hidden" name="_method" value="delete"/>-->
                        <button class="btn btn-outline-primary">Details</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/script/users.js}"></script>
</body>
</html>