<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<section class="mainSection">
    <div class="mainContainer">
        <ul>
            <li>povijesni pregled podataka o tome tko se, kada
                i sa koje adrese ulogirao (Filteri)
            </li>
            <li>povijesni pregled kupnji, za sve
                kupce, s istim informacijama. Omogućiti jednostavne filtere za pretragu po
                kupcu i vremenskom periodu kupnje
            </li>
        </ul>

        <h1>User login history</h1>
        <table id="usersLoginHistoryTable" class="table">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">IP Addres</th>
                <th scope="col">Time of login</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${loggedUsersList.empty}">
                <td colspan="7"> No Items in cart.</td>
            </tr>
            <tr th:each="loggedUserRecord : ${loggedUsersList}">
                <!--        <td><span th:text="${cartItem}"> Artist name </span></td>-->
                <td><span th:text="${loggedUserRecord.person.email}"> Email </span></td>
                <td>
                    <span th:text="${loggedUserRecord.person.firstname } + ' ' + ${loggedUserRecord.person.lastname }"> Name </span>
                </td>
                <td><span th:text="${loggedUserRecord.ipadress}"> IP Addres </span></td>
                <td><span th:text="${loggedUserRecord.timeoflogin}"> Time of login </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/script/users.js}"></script>
</body>
</html>